// Input //
:root {
  --input-border-color: #e2e8f0;
  --input-bg-color: #ffffff;
  --input-text-color: #1e293b;
  --input-placeholder-color: #64748b;
}

// Textarea //
:root {
  --textarea-bg-color: #ffffff;
  --textarea-text-color: #1e293b;
  --textarea-placeholder-color: #64748b;
}

// Portfolio //

// Colors
$portfolio-primary-color: #02000e;
$portfolio-secondary-color: #020b5a;
$portfolio-bg-sphere-color: #05003093;
$portfolio-text-color: #333333;
$portfolio-light-bg: #f8f9fa;
$portfolio-beige-bg: #ffffe9;
$portfolio-beige-bg-opacity: #ffffe983;
$portfolio-dark-color: #353535;
$portfolio-dark-bg: #0f172a;
$portfolio-form-button: #050030fb;
$portfolio-light-blue: #c7e0f8;
$portfolio-light-yellow: #fde047;
$portfolio-light-green: #30F7C3;
$portfolio-sea-blue: #60EFFF;

// Typography
$portfolio-main-font-familt: "Pacifico", cursive;
$portfolio-secondary-font-familt: "Anton", sans-serif;
$portfolio-font-family: 'Roboto', sans-serif;
$portfolio-heading-font-family: 'Montserrat', sans-serif;
$portfolio-base-font-size: 16px;
$portfolio-heading-font-size: 3rem;
$portfolio-subheading-font-size: 2.5rem;
$portfolio-hero-subheading-font-size: 4rem;
$portfolio-subheading-font-size-sm: 1.4rem;
$portfolio-text-font-size: 1.3rem;
$portfolio-text-font-size-screen: 1rem;