@import 'variables';

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
  
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 1rem;
    }
  
    &__logo {
      font-family: $portfolio-main-font-familt;
      font-size: 30px;
      
      @media (max-width: 425px) {
        font-size: 20px;
      }
    }
  
    &__links {
      display: flex;
      list-style-type: none;
      font-size: 20px;
      margin: 0;
      padding: 0;

      @media (max-width: 425px) {
        font-size: 12px;
      }
  
      li {
        margin-right: 3rem;
        @media (max-width: 425px) {
          margin-right: 0.2rem;
        }

        &:hover {
          scale: 1.2;
          transition: 0.1s ease-in;
        }
  
        a {
          text-decoration: none;
          font-weight: 700;
          transition: color 0.3s ease;
  
          &:hover {
            // color: $portfolio-form-button;
            transition: 0.2s ease-in;
          }
        }
      }
    }
}

// Scroll
.banner--scrolled {
  background-color: $portfolio-beige-bg-opacity;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.banner--scrolled-logo {
  font-size: 20px;
}
.banner--scrolled-links {
  font-size: 16px;

  @media (max-width: 425px) {
    font-size: 12px;
  }
}

//  Dark-mode
.dark-mode-title-banner {
  color: $portfolio-beige-bg;
  text-shadow: 
  1px 1px 0 #000,  /* ombre en bas à droite */
  -1px 1px 0 #000, /* ombre en bas à gauche */
  1px -1px 0 #000, /* ombre en haut à droite */
  -1px -1px 0 #000; /* ombre en haut à gauche */
}

// Menu Burger
.banner__links {
  display: flex;
  // Ces styles assurent que le menu est à l'affichage par défaut pour les écrans plus larges
  @media (max-width: 768px) {
    display: none;
    flex-direction: column;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    top: 72px;
    left: 0;
    right: 0;
    background-color: $portfolio-beige-bg-opacity;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &--open {
    display: flex;
  }
}

.banner__menu-icon {
  display: none;
  // color: $portfolio-light-green;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  z-index: 1000;
  @media (max-width: 768px) {
    display: block;
  }
}