@import 'variables';

.container {
    width: 96%;
    height: 750px;
    background-color: $portfolio-dark-color;
    border-radius: 30px;

    @media (max-width: 1440px) {
        height: 560px;
        width: 100%;
    }
    @media (max-width: 1024px) {
        height: 530px;
    }
    @media (max-width: 768px) {
        height: 500px;
    }
    @media (max-width: 375px) {
        height: 400px;
        width: 375px;
    }
};
.dark-mode {
    background-color: $portfolio-primary-color;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
};

.icon-html {
    color: #e34f26;
}

.icon-css {
    color: #264de4;
}

.icon-react {
    color: #61dbfb;
}

.icon-sass {
    color: #cc6699;
}

.icon-redux {
    color: #764abc;
}

.icon-vscode {
    color: #0078d7;
}

.icon-figma {
    color: #ff2c2c;
}