@import 'variables';

.container {
    width: 100%;
    // width: 1920px;
    height: 99vh;
    // width: 800px;
    // height: 800px;
    background-color: $portfolio-primary-color;
    border-radius: 30px;

    @media (max-width: 768px) {
        width: 768px;
    }
    @media (max-width: 425px) {
        width: 415px;
    }
};

.icon {
    width: 8rem;
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    // display: flex;
    align-items: center;
    // justify-content: center;
    // padding: 1rem;
    // color: white;
    // z-index: 0;
};

.icon-html {
    color: #e34f26;
}

.icon-css {
    color: #264de4;
}

.icon-react {
    color: #61dbfb;
}

.icon-sass {
    color: #cc6699;
}

.icon-redux {
    color: #764abc;
}

.icon-vscode {
    color: #0078d7;
}

.icon-figma {
    color: #ff2c2c;
}