.interactive-wallpaper {
    // position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // max-height: 100vh;
    // background-color: #121212;
    pointer-events: auto;
  
    canvas {
      display: block; // Élimine tout espace blanc sous le canvas
      width: 100%;
      height: 100%;
    }
  
    // Optionnel : ajoutez un effet de transition pour les changements de couleur de fond
    transition: background-color 0.3s ease;
  
    // Ajouter des styles pour différents états ou breakpoints
    &.light-mode {
      background-color: #f0f0f0;
    }
  
    @media (max-width: 768px) {
      // Styles spécifiques pour les appareils mobiles si nécessaire
    }
  
    // Pour que le canvas soit toujours au-dessus des autres éléments
    z-index: 0;
  }
  
  // Si vous voulez ajouter des styles pour le contenu au-dessus du canvas
  .content-overlay {
    position: relative;
    z-index: 2;
    // Ajoutez d'autres styles pour le contenu superposé ici
  }