@import 'variables';

.button {
    // ...autres styles...
  
    &--icon-round {
      border-radius: 9999px;
      transition: colors 0.3s ease;
      background-color: transparent;
    }
  
    &--dark-mode {
      border: 1px solid $portfolio-beige-bg;
      color: $portfolio-beige-bg;
      &:hover {
        background-color: $portfolio-beige-bg;
      }
    }
  
    &--light-mode {
      border: 1px solid $portfolio-text-color;
      color: $portfolio-text-color;
      &:hover {
        background-color: $portfolio-beige-bg;
        border: none;
      }
    }
}

.icon {
    &--toggle {
      height: 1.2rem;
      width: 1.2rem;
    }
}