@import 'variables';

.button {
    // ...autres styles...
  
    &--icon-round {
      border: none;

      &:hover {
        background-color: transparent;
      }
    }

    &--dark-mode-banner {
      color: $portfolio-form-button;
      &:hover {
        color: $portfolio-light-yellow;
        scale: 1.3;
      }
    }
}

.icon {
    &--toggle {
      height: 1.5rem;
      width: 1.5rem;
    }
}