@import 'variables';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.portfolio {
  font-family: $portfolio-font-family;
  font-size: $portfolio-base-font-size;
  color: $portfolio-text-color;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
  }

  &__hero-content {
    max-width: 800px;
    margin-top: 40%;

    @media (max-width: 1440px) {
      margin-top: 25%;
    }
    @media (max-width: 768px) {
      margin-top: 40%;
    }
    @media (max-width: 425px) {
      margin-top: 70%;
    }
  }

  &__hero-title {
    font-family: $portfolio-main-font-familt;
    font-size: $portfolio-heading-font-size;
    color: $portfolio-beige-bg;
    margin-bottom: 1rem;
  }
  .dark-mode-hero-title {
    color: $portfolio-beige-bg;
  }
  .light-mode-hero-title {
    color: $portfolio-beige-bg;
    text-shadow: 
    1px 1px 0 #000,  /* ombre en bas à droite */
    -1px 1px 0 #000, /* ombre en bas à gauche */
    1px -1px 0 #000, /* ombre en haut à droite */
    -1px -1px 0 #000; /* ombre en haut à gauche */
  }

  &__hero-subtitle {
    font-size: $portfolio-subheading-font-size-sm;
    color: $portfolio-light-bg;
    margin-bottom: 0.5rem;
  }
  .size {
    font-size: $portfolio-hero-subheading-font-size;
    margin-bottom: 2rem;
    @media (max-width: 425px) {
      font-size: $portfolio-subheading-font-size;
    }
  }

  &__hero-buttons {
    display: flex;
    justify-content: center;
    gap: 4rem;

    @media (max-width: 425px) {
      gap: 2rem;
    }
    @media (max-width: 375px) {
      gap: 1rem;
    }
  }

  &__section-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 0.5rem;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__section {
    padding: 3rem 0;
    margin-bottom: 2rem;
    width: 100%;
  }
  .section-center {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .skills {
    border-radius: 30px;
    padding-bottom: 30px;
  }
  .dark-skills {
    background-color: $portfolio-bg-sphere-color;
    filter: drop-shadow(0 0 0.5rem $portfolio-bg-sphere-color);
  }
  .light-skills {
    background-color: $portfolio-beige-bg;
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.3);
  }

  &__section--icons-txt {
    font-size: $portfolio-text-font-size;
    text-align: center;
    height: 100px;

    @media (max-width: 425px) {
      font-size: $portfolio-text-font-size-screen;
    }
  }

  .shadow {
    filter: drop-shadow(0 0 0.5rem $portfolio-beige-bg);
  }
  .color-section {
    background-color: $portfolio-beige-bg;
  }
  .padding-bottom {
    padding-bottom: 0;
  }

  &__section-title {
    font-family: $portfolio-main-font-familt;
    font-size: $portfolio-subheading-font-size;
    text-align: center;
    position: relative;
  }

  &__section-subtitle {
    margin-bottom: 4rem;
    text-align: center;
    position: relative;
  }
  .beige-color {
    color: $portfolio-beige-bg;
  }
  .grey-color {
    color: $portfolio-dark-color;
  }

  &__about {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0 10rem;
    margin-bottom: 2rem;

    @media (max-width: 1024px) {
      flex-direction: column;
      margin: 0 4rem;
    }
  }
  .dark-mode-section-title {
    color: $portfolio-light-bg;
  }
  .light-mode-section-title {
    color: $portfolio-dark-color;
  }

  &__about-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;

    @media (max-width: 425px) {
      width: 250px;
      height: 250px;
    }
  }

  &__about-text {
    flex: 1;
    font-size: $portfolio-text-font-size;

    @media (max-width: 768px) {
      text-align: center;
      font-size: $portfolio-text-font-size-screen;
    }
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 2.5rem;
    margin: 0 1rem;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
    @media (max-width: 425px) {
      grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
  }

  &__projects-item {
    background-color: $portfolio-light-bg;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 6px 4px 6px rgba(0, 0, 0, 0.3);

    @media (max-width: 1024px) {
      height: 320px;
    }
  }

  &__projects-image {
    width: auto;
    height: 55%;
    width: 100%;
    object-fit: cover;

    @media (max-width: 1024px) {
      height: 50%;
    }
  }

  &__projects-content {
    padding: 0.5rem 1rem;
    filter: drop-shadow(0 0 0.5rem $portfolio-dark-color);
    background-color: $portfolio-beige-bg;
    color: $portfolio-dark-color;
    height: 45%;

    @media (max-width: 1024px) {
      height: 50%;
    }
  }

  &__projects-title {
    font-family: $portfolio-heading-font-family;
    font-size: 2rem;
    margin-bottom: 0.5rem;

    @media (max-width: 1024px) {
      font-size: 1.5rem;
    }
  }

  &__projects-description {
    margin-bottom: 0.5rem;
    height: 50px;

    @media (max-width: 425px) {
      font-size: 16px;
    }
  }

  &__projects--container-links {
    display: flex;
    justify-content: space-between;
  }
  
  &__projects-link {
    cursor: pointer;

    &:hover {
      font-weight: 600;
    }
  }

  &__contact-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__form-group {
    margin-bottom: 1rem;
  }

  &__contact-label {
    display: block;
    margin-bottom: 0.5rem;
  }

  &__contact-input,
  &__contact-textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $portfolio-light-green;
    border-radius: 4px;
  }

  &__contact-button {
    background-color: darken($portfolio-light-green, 20%);
    color: $portfolio-beige-bg;
    font-weight: 500;
    font-size: $portfolio-text-font-size;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;

    &:hover {
      background-color: $portfolio-sea-blue;
    }
  }

  &__footer {
    text-align: center;
    padding: 2rem 0;
  }
  .dark-mode-footer {
    color: $portfolio-beige-bg;
  }
  .light-mode-footer {
    color: $portfolio-dark-color;
  }

  &__footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }

  &__social-link {
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  .dark-mode-footer-link {
    color: $portfolio-beige-bg;

    :hover {
      color: $portfolio-light-yellow;
    }
  }
  .light-mode-footer-link {
    color: $portfolio-dark-color;

    :hover {
      color: $portfolio-beige-bg;
    }
  }

  &__copyright {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.dark-mode {
  background-color: $portfolio-primary-color;
}
.light-mode {
  background: $portfolio-light-blue;
}
.dark-mode-modal {
  background-color: $portfolio-primary-color;
  filter: drop-shadow(0 0 0.5rem $portfolio-primary-color);
}
.light-mode-modal {
  background: $portfolio-light-blue;
}
.dark-close-modal {
  color: $portfolio-beige-bg;
}

// Modale //

.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.project-modal-content {
  border: solid 1px $portfolio-dark-bg;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  min-width: 320px;

  @media (max-width: 425px) {
    margin: 0 0.5rem;
  }
}
.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-family: $portfolio-font-family;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}